table,th,td{
    border:2px solid black 

}
th{
    background-color: lightgray;
    margin:100px 0px 0px 100px
} 
th{
    padding: 10px;
}
td{
    padding: 10px;
}
img { 
    border-style: dashed;border: width 5px; border-color: red; padding: 30px;
}

.img1, .img2, .img3 {
    width: 150px;
    height: 150px;
}

.img1 {
    width: 150px;
    height: 150px;
}

.img2 {
    width: 150px;
    height: 150px;
}

.img3 {
    width: 150px;
    height: 150px;
}

.img1 {
    width: 50%; 
}

.img2 {
    width: 75pt;
}

.img3 {
    width: 2in; 
}


